doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sign Up
  link(rel='stylesheet' href='/libs/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/newSignup.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-dark.navbar-dark
  .container-fluid
    a.navbar-brand(href='/api/directordash') Dockville
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    
.container-cards
.row
  .col-sm-6
    h1.card-title.card-title-parking Sign up
  .col-sm-6
    .card.card1.gy-5
      .card-body
        form#formId(name='regedituser' method='POST' action="/api/emp/edit?id="+emp._id)
          label.form-label(for='exampleInputEmail1')  Full name
          input#userName.form-control(type='text' name='fullname' value= emp.fullname)
          span#fullnError
          label.form-label(for='exampleInputEmail1')  Username
          input#userName.form-control(type='text' name='username' value= emp.username)
          span#userError
          label.form-label(for='exampleInputEmail1') Email 
          input#exampleInputEmail1.form-control(type='email' name='emailinput' value= emp.emailinput)
          span#emailError
          .row
              .col
                label.form-label(for='role') Role 
                select#inlineFormSelectPref.form-select(name= 'role' )
                    option(value='') Select Role
                    option(value='Director' selected=emp.role==='Director') Director 
                    option(value='Manager' selected=emp.role==='Manager') Manager
                    option(value='Agent' selected=emp.role==='Agent') Agent
                    span#roleError
              .col
                label.form-label(for='branch') Branch 
                select#inlineFormSelectPref.form-select(name= 'branch')
                    option(value='') Select branch
                    option(value='Kampala Rd' selected=emp.branch==='Kampala Rd') Kampala Rd 
                    option(value='Nakawa' selected=emp.branch==='Nakawa') Nakawa
                    span#branchError
          label.form-label(for='password') Password
          input#email.form-control(type='password' name='password' value= emp.password)
          br
          .butt
            button.btn(type='submit') Submit
    
script(src='/js/regValidation2.js')
script(src='/libs/bootstrap/js/bootstrap.bundle.js')
