doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Parking Table 
  link(rel='stylesheet' href='/libs/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/parkTable.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-dark.navbar-dark
  .container-fluid
    a.navbar-brand(href='/api/home') Dockville
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Pages
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='/api/parkform') Parking form
            li
              a.dropdown-item(href='/api/logout') Logout
      form.d-flex(onsubmit='')
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success(type='submit') Search
h1.heading Parking Table
.row
  .col-sm-6
    .card.count-card
      .card-body.count-text
        h5.card-title Parkings
        p.counter #{count}
  //- .col-sm-6
  //-   .card
  //-     .card-body
  //-       h5.card-title Special title treatment
  //-       p.card-text With supporting text below as a natural lead-in to additional content.
  //-       a.btn.btn-primary(href='#') Go somewhere
.card
  .card-body
    table.table 
      thead
        tr
            th(scope='col') First
            th(scope='col') Last
            th(scope='col') Email
            th(scope='col') Phone
            th(scope='col') NIN
            th(scope='col') CarType
            th(scope='col') Model
            th(scope='col') Color
            th(scope='col') No.Plate
            th(scope='col') Services 
            th(scope='col') Cost
            th(scope='col') Date
            th(scope='col') Arrival 
            th(scope='col') Depart
            th(scope='col') Edit
            //- th(scope='col') Delete 
      tbody
      if parkings.length
        each parking in parkings
            tr
                td #{parking.firstname}
                td #{parking.lastname}
                td #{parking.emailinput}
                td #{parking.phoneinput}
                td #{parking.niniput}
                td #{parking.carType}
                td #{parking.modelinput}
                td #{parking.colorinput}
                td #{parking.numberplate}
                td #{parking.services}
                td #{parking.cost}
                td #{parking.date}
                td #{parking.time}
                td #{parking.depart}
                td  
                    a.btn.tb-btn(href="/api/parking/edit/"+parking._id) Edit
                    //- a(href=`/api/employee/edit/${employee._id}`)
                //- td
                //-     form(action="/api/parking/delete" method="POST")
                //-         input(type="hidden", name="id", value=parking._id)
                //-         button.btn.btn-danger(type="submit") Delete
                
      else 
        p there are no parkings in the database
        


          





script(src='/libs/bootstrap/js/bootstrap.bundle.js')
